<!doctype html>
<html lang='en'>
  
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/static/css/main.css'>
</head>

<body>
  <div class="container">
   <title>Meditation Stats</title>
    <section class="main-content">
      <h1>🧠 Micro Meditation Reminders 🧘🏿‍♀️</h1>
      <p>This app sends text reminders throughout the day to meditate. 📈</p>
    </section>
  </div>
</body>

</html>