<!doctype html>
<html lang='en'>
  
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/static/css/main.css'>
</head>

<body>
  <div class="container">
   <title>Meditation Stats</title>
    <section class="main-content">
      <h1>🧠 Meditation Stats 🧘🏿‍♀️</h1>
      <p>1 hr 20 min today!</p>
      <p>Daily average: 1 hr 30 min</p>
      <p>Weekly average: 10 hr</p>
      <p>Total hours: 1400 📈</p>
    </section>
  </div>
</body>

</html>